*{
    font-family:cursive
}

#logo_rotiseria{
background-color: gray
}

#text_nombre{
    text-align: center
}

.formulario{
   margin: auto;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
}

table, th, td {
  border: 1px solid;
  text-align: justify;
}

.tabla{
   margin: auto;
  width: 100%;
  border: 3px solid gray;
  padding: 10px;
}

#menues, #otros{
color:blue
}

button{
    text-align: center

}